.home-main-section {

  .home-main-title {
    text-align: center;
    line-height: 300px;
  }

}

.home-spanishdict{

  .home-spanishdict-image {

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .home-spanishdict-text {
    margin-top: 10px;
    text-align: center;
  }

}
