@import '../variables';

.nav-bar {
  $navHeight: 60px;
  background-color: $mainColor;

  .nav-title {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $darkGray;
    &:hover {
      color: $lightGray;
    }
  }

  .nav-section {
    line-height: $navHeight;
    display: inline-block;
  }

  .nav-links {
    display: inline-block;
  }

  .nav-link {
    display: inline-block;
    margin-left: 10px;
  }
}

.main-wrapper {
  margin-top: 10px;
}
