$mainColor: #3081E8;
$secondaryColor: #FFAB22;
$lightGray: #D7DEE0;
$darkGray: #949997;

.nav-bar {
  a {
    text-decoration: none;
    font-weight: bold;
    color: $darkGray;
    &:hover {
      color: $lightGray;
    }
  }
  background-color: $mainColor;
}

.nav-links {
  display: inline-block;
}

.nav-link {
  display: inline-block;
}
